.form-login {
  width: 100%;
  background-color: #F6F4F4;
  max-width: 500px;
  padding: 20px;
  img { max-width: 100%;}
  @media (min-width: 410px) {
    margin: 5px;
  }
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #F6F4F4;
}

.login-form-button {
  margin: 5px;
  background-color: #91827B;
  color: white;
  border: 0;
}

.login-form-forgot {
  color: #91827B;
  text-transform: uppercase;
}
.faca-login {
  font-weight: bold;
  margin: 10px 0 20px;
  display: inline-block;
}
